;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[re-frame "0.10.6" :exclusions [reagent]]
  [reagent "0.8.1" :exclusions [cljsjs/react
                                cljsjs/react-dom
                                cljsjs/react-dom-server
                                cljsjs/create-react-class]]]

 :nrepl {:port 8202}

 :dev-http {3000 "public/"}

 :builds
 {:dev
  {:output-dir "public/js"
   :target :browser
   :modules {:main {:init-fn body-index-calculator.core/init}}
   :devtools {:after-load body-index-calculator.core/init}}}}
