{:deps {:aliases [:dev :prod]}

 :nrepl {:port 8202
         :middleware
         [refactor-nrepl.middleware/wrap-refactor]}
 :builds
 {:app {:target     :browser
        :output-dir "public/app/js"
        :modules    {:main {:init-fn body-index-calculator.core/init
                            :entries [body-index-calculator.core]}}
        :dev        {:compiler-options
                     {:closure-defines
                      {"re_frame.trace.trace_enabled_QMARK_"        true
                       "day8.re_frame.tracing.trace_enabled_QMARK_" true}}}

        :devtools {:after-load body-index-calculator.core/on-hmr-reload
                   :http-root  "public/app"
                   :http-port  3000
                   :preloads   [day8.re-frame-10x.preload
                                devtools.preload]}}

  :devcards {:target     :browser
             :output-dir "public/devcards/js"
             ;; :asset-path "/js"
             :modules    {:main {:entries [body-index-calculator.devcards.devcards]}}
             :devtools   {:http-root        "public/devcards"
                          :http-port        3001
                          :http-handler     shadow.http.push-state/handle
                          :after-load       body-index-calculator.devcards.devcacrds/main}
             :dev        {:compiler-options {:devcards true}}}

  :test {:target   :browser-test
         :test-dir "public/tests"
         :devtools {:http-root "public/tests"
                    :http-port 3002}}}}
